h1,h2,h3,h4,h5 {
  margin-bottom: 1em;
}
h1 {
  font-size: 150%;
}
h2 {
  font-size: 120%;
}
pre {
  background-color: #eee;
  padding: .2em .8em;
  box-shadow: 1px 1px 8px 2px #ccc inset;
  font-size: .8em;
}
.screen {
  text-align: center;
}
.screen h1 {
  text-align: center;
  line-height: 400px;
}
.hide-title h1, .hide-title h2 {
  display: none;
}

